<div class="row">
    <blockquote>
        <h4 class="center">¡LA BATALLA!</h4>
    </blockquote>
    <form class="">
        <div *ngIf="!luchando">
            <div class="row">

                <div class="input-field center col s12 l12">
                    <p><label>
              <input (click)="changeSexo('Macho')" autocomplete="off" required name="sexo" value="Macho" type="radio"
                checked />
              <span>Entre machos</span>
            </label>

                        <label>
              <input (click)="changeSexo('Hembra')" required name="sexo" value="Hembra" type="radio" />
              <span>Entre hembras</span>
            </label>
                    </p>
                </div>


                <div class="input-field row center col s12 l12">
                    <h4 class="center">Luchadores</h4>
                    <hr>
                    <label><strong>Escoja entre quienes se disputará la pelea:</strong></label>
                    <p></p>

                    <div class="center">

                        <div class="input-field col s3 m3 l3">
                            <a class='dropdown-trigger btn' data-target='prisioneros1'>Luchador 1</a>
                            <ul id='prisioneros1' class='dropdown-content'>
                                <li *ngFor="let prisionero1 of prisioneros"><a (click)="setLuchador1(prisionero1)">{{ prisionero1.Nombres }} {{ prisionero1.Apellidos }}</a></li>
                            </ul>
                        </div>
                        <div class="input-field col s3 l3">
                            <h5>{{ luchador1.Nombres }} {{ luchador1.Apellidos }}</h5>
                        </div>
                    </div>

                    <div class="center">

                        <div class="input-field col s3 m3 l3">
                            <a class='dropdown-trigger btn' data-target='prisioneros2'>Luchador 2</a>
                            <ul id='prisioneros2' class='dropdown-content'>
                                <li *ngFor="let prisionero2 of prisioneros"><a (click)="setLuchador2(prisionero2)">{{ prisionero2.Nombres }} {{ prisionero2.Apellidos }}</a></li>
                            </ul>
                        </div>
                        <div class="input-field col s3 l3">
                            <h5>{{ luchador2.Nombres }} {{ luchador2.Apellidos }}</h5>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="input-field row center col s12 l12">
                    <h4 class="center">Armas</h4>
                    <hr>
                    <label><strong>Escoja el arma de cada luchador:</strong></label>
                    <p></p>

                    <div class="center">

                        <div class="input-field col s3 m3 l3">
                            <a class='dropdown-trigger btn' data-target='armas1'>Arma Luchador 1</a>
                            <ul id='armas1' class='dropdown-content'>
                                <li *ngFor="let arma1 of armas"><a (click)="setArma1(arma1)">{{ arma1 }}</a></li>
                            </ul>
                        </div>
                        <div class="input-field col s3 l3">
                            <h5>{{ arma1 }}</h5>
                        </div>
                    </div>

                    <div class="center">

                        <div class="input-field col s3 m3 l3">
                            <a class='dropdown-trigger btn' data-target='armas2'>Arma Luchador 2</a>
                            <ul id='armas2' class='dropdown-content'>
                                <li *ngFor="let arma2 of armas"><a (click)="setArma2(arma2)">{{ arma2 }}</a></li>
                            </ul>
                        </div>
                        <div class="input-field col s3 l3">
                            <h5>{{ arma2 }}</h5>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="input-field row center col s12 l12">
                    <h4 class="center">Ambiente</h4>
                    <hr>
                    <label><strong>Escoja el ambiente donde se disputará la pelea:</strong></label>
                    <p></p>

                    <div class="center">
                        <div class="input-field col s3 m3 l3">
                            <a class='dropdown-trigger btn' data-target='ambientes'>Ambiente de lucha</a>
                            <ul id='ambientes' class='dropdown-content'>
                                <li *ngFor="let ambiente of ambientes"><a (click)="setAmbiente(ambiente)">{{ ambiente }}</a></li>
                            </ul>
                        </div>
                        <div class="input-field col s3 l3">
                            <h5>{{ ambiente }}</h5>
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <div class="modal-footer l12 s12 center darken-4">
                <button class="modal-close btn waves-effect waves-light btn-large" (click)="luchar()" type="submit" name="action">¡A LA
          LUCHA!
          <i class="material-icons right darken-4">check</i>
        </button>
            </div>

            <br>
            <br>

        </div>
        <div *ngIf="luchando" class="input-field row center col s12 l12">
            <img src="../../../assets/luchando.gif" />
        </div>

    </form>
</div>